<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
</style>
</head>
<body>
&nbsp<a href="/logout">Logout </a>
<!-- &nbsp<a href="/Players">Players </a></br> -->
<h2>Account details:</h2>
<table style="width:60%">
  <tr>
    <th>Username:</th>
    <td><%= users.username %></td>
  </tr>
  
  <tr>
    <th>Name:</th>
    <td><%= users.fname %>&nbsp<%= users.lname %></td>
  </tr>
  
  <tr>
    <th>Coins:</th>
    <td><%= users.coins %></td>
  </tr>

  <tr>
    <th>Email:</th>
    <td><%= users.email %></td>
  </tr>

  <tr>
    <th>Password:</th>
    <td>******</td>
  </tr>

</table>

</body>
</html>
